.vscode/**
.vscode-test/**
.devcontainer/**
.github/**
src/**
scripts/**
node_modules/**
tests/**
.gitignore
.git/**
*.vsix
tsconfig.json
**/*.ts
**/*.map
.eslintrc*
eslint.config.*
package-lock.json
.prettierrc*
docs/**

# Only include the bundled extension.js, not individual compiled files
dist/**/*.js.map
